<div class="home">
    <div class="app-wrapper ">
        <!-- Header -->
        <header class="header">
            <div class="header-top">
                <div class="logo">
                    <!-- <a href="home" data-path title="The Style"><span class="white">The</span><span class=" gold">Style</span></a> -->
                    <a href="/home" data-path title="The Style Of Boxing"><span class="white">The</span><span class=" gold">Style</span><span class="white">Of</span><span class=" gold">Boxing</span></a>
                </div>
            </div>
            <div class="header-bottom">
                <div class="row">
                    <div class="col-lg-8 mr-auto">
                        <!-- navigation -->
                        <nav class="navigation">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a href="/home" data-path class="nav-link active">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/basics" data-path class="nav-link">Basics</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/techniques" data-path class="nav-link">Techniques</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/training" data-path class="nav-link"> Training</a>
                                </li>
                                <li class="nav-item">
                                    <a href="/strategy" data-path class="nav-link">Strategy</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <!-- search -->
                        <div class="search-field">
                            <i class="glyphicon glyphicon-search"></i>
                            <label for="input">Search this website...</label>
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- mobile -->
            <a href="" class="mobile-toggle"></a>

        </header>

        <!-- Main -->

        <main class="main" role="main">
            <div class="container">
                <div class="row"> {{#each posts}}
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12 ">

                        <article class="container">


                            <div class="top">

                                <div class=" category text-center">
                                    <h2 class="white">{{category}}</h2>
                                </div>
                                <div class=" month white">
                                    <h2 class="date white">{{month}}</h2>
                                </div>
                                <div class=" day white">
                                    <h2 class="date white">{{day}}</h2>
                                </div>

                            </div>

                            <div class="bottom">
                                <div class="dotted">
                                    <div class="wrapper-bottom">
                                        <div class="bottom-main">
                                            <h1 class="red"><a href="/post/:{{id}}" data-path class="post-id">{{title}}</a></h1>
                                            <h3 class="black">posted by {{author}}</h3>
                                        </div>
                                    </div>
                                    <div class="dashed">
                                        <div class="text">{{{content}}}</div>

                                    </div>
                                </div>
                            </div>
                            <!-- <img src="./post/images/border.png" alt=""> -->
                        </article>

                    </div>
                    {{/each}}
                </div>
                <div class="pagination">
                    <!-- to implement: http://esimakin.github.io/twbs-pagination/ and/or
            https://github.com/flaviusmatis/simplePagination.js -->
                </div>
            </div>
        </main>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top">
                <div class="container-fluid ">
                    <div class="row">
                        <section class="section-recent-posts col-lg-3 col-md-4 col-sm-6 col-12">
                            <h1 class="gold">Recent posts</h1>
                            <ul class="recent-posts text">
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-post"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                            </ul>
                        </section>
                        <section class="custom-text-widget   col-lg-3 col-md-4  col-sm-6 col-12">
                            <h1 class="gold">Custom Text Widget</h1>
                            <p class="text">Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim
                                egestas posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer
                                felis eu ipsum malesuada luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum
                                volutpat porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, nibh
                                quis ultricies laoreet, libero justo suscipit risus, sed sollicitudin odio erat at purus.
                                Quisque molestie venenatis turpis eu adipiscing. Pellentesque habi</p>
                        </section>
                        <section class="section-recent-comments   col-lg-3 col-md-4  col-sm-6 col-12">
                            <h1 class="gold">Recent comments</h1>
                            <ul class="recent-comments text">
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="recent-comment"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                            </ul>
                        </section>
                        <section class="section-archives   col-lg-3 col-md-4  col-sm-6 col-12 ">
                            <h1 class="gold">Archives</h1>
                            <ul class="archives-items text">
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                                <li class="archive-item"><span class="arrow">&raquo;</span>Fusce suscipit sapien sit amet </li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Designed by <span class="bold">Martin Martinov</span> | Powered by <span class="bold">Teleric Academy</span></p>
            </div>
        </footer>
    </div>
</div>`
