<div class="home">
    <div class="app-wrapper ">
        <!-- Header -->
        <header class="header">
            <div class="header-top">
                <div class="logo">
                    <a href="home" data-path title="The Style"><span class="white">The</span><span class=" gold">Style</span></a>
                    <!-- <a href="" title="The Style Of Boxing">The <span class="logo gold">Style</span> Of <span class="logo gold">Boxing</span></a> -->
                    <!-- overlay with &#9646 for Y -->
                    <!-- <span class="overlay">TheSt<span class="">Y</span>leOfBoxing</span> -->
                </div>
            </div>
            <div class="header-bottom">
                <div class="row">
                    <div class="col-lg-8 mr-auto">
                        <!-- navigation -->
                        <nav class="navigation">
                            <ul class="nav">
                                <li class="nav-item">
                                    <a href="home" data-path class="nav-link active">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="about" class="nav-link" data-path>Entertainment</a>
                                    <!-- <a href="/about" data-path>Basics</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="about" class="nav-link" data-path>Fashion</a>
                                    <!-- <a href="/about" data-path>Basics</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link"> Politics</a>
                                    <!-- <a href="#">Techniques</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">TECHNOLOGY</a>
                                    <!-- <a href="#">Training</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">AUTOMOTIVE</a>
                                    <!-- <a href="#">Strategy</a> -->
                                </li>
                                <li class="nav-item hover">
                                    <a href="#" class="nav-link">EDUCATION</a>
                                    <!-- <a href="#">Diet</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">LIFE</a>
                                    <!-- <a href="#">Dummy-Item</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">COMPUTING</a>
                                    <!-- <a href="#">Dummy-Item</a> -->
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">HOME AND GARDEN</a>
                                    <!-- <a href="#">Dummy-Item</a> -->
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <!-- search -->
                        <div class="search-field">


                                <!-- <img src="./images/search-icon.png" alt=""> -->
                                <i class="glyphicon glyphicon-search"></i>
                                <label for="input">Search this website...</label>
                                <input type="text" class="form-control"/>

                        </div>

                    </div>
                </div>
            </div>
            <!-- mobile -->
            <a href="" class="mobile-toggle"></a>

        </header>

        <!-- Main -->

        <main class="main" role="main">
            <div class="container">
                <section class="articles">
                    <div class="row"> {{#each techniques}}
                        <div class="content content-1 col-xl-2  col-lg-3 col-md-4 col-sm-6 ">
                            <article class="article">
                                <div class="top">
                                    <div class="category">
                                        <h2 class="white">{{category}}</h2>
                                        <!-- <h2 class="white"><a href="">{{category}}</a></h2> -->
                                    </div>
                                    <div class="date-month white">
                                        <h2 class="date white">{{date}}</h2>
                                    </div>
                                    <div class="date-day white">
                                        <h2 class="date white">{{date}}</h2>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="dotted">
                                        <h1 class="red">{{title}}</h1>
                                        <h3 class="black">posted by {{author}}</h3>
                                    </div>
                                    <div class="dashed">{{{content}}}</div>
                                </div>
                            </article>
                        </div>
                        {{/each}}
                    </div>
                </section>
                <div class="pagination">
                    <!-- to implement: http://esimakin.github.io/twbs-pagination/ and/or
            https://github.com/flaviusmatis/simplePagination.js -->
                </div>
            </div>
        </main>


        <!-- Footer -->
        <footer class="footer">
            <div class="footer-top">
                <div class="row">
                    <section class="recent-posts col-md-3 col-sm-6 col-12">
                        <h1 class="gold">Recent posts</h1>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                    </section>
                    <section class="custom-text-widget col-md-3 col-sm-6 col-12">
                        <h1 class="gold">Custom Text Widget</h1>
                        <p>Fusce suscipit sapien sit amet sapien placerat ultrices. Vivamus sed massa ac metus gravida dignissim
                            egestas posuere lorem. Sed ipsum urna, facilisis quis eleifend ut, sodales sed lectus. Integer
                            felis eu ipsum malesuada luctus. Sed pharetra eleifend ante vitae fermentum. Praesent fermentum
                            volutpat porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dignissim, nibh quis
                            ultricies laoreet, libero justo suscipit risus, sed sollicitudin odio erat at purus. Quisque
                            molestie venenatis turpis eu adipiscing. Pellentesque habi</p>
                    </section>
                    <section class="recent-comments col-md-3 col-sm-6 col-12">
                        <h1 class="gold">Recent comments</h1>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                    </section>
                    <section class="archives col-md-3 col-sm-6 col-12">
                        <h1 class="gold">Archives</h1>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                        <p><span>&raquo;</span>Fusce suscipit sapien sit amet </p>
                    </section>
                </div>
            </div>
            <div class="footer-bottom">
                <p>Designed by <span class="dark-grey bold">ElegnatThemes</span> | Powered by <span class="dark-grey bold">WordPress</span></p>
            </div>
        </footer>

    </div>
</div>`
