<div class="home">

    <!-- Main -->
    <main class="main" role="main">
        <section class="articles">
            <div class="row"> {{#each techniques}}
                <div class="content content-1 col col-xl-2 col-lg-3 col-md-4 col-sm-6 col-12">
                    <article class="article">
                        <div class="top">
                            <div class="category">
                                <h2 class="white"><a href="">{{category}}</a></h2>
                            </div>
                            <div class="date-month">
                                <h2 class="date white">{{date}}</h2>
                            </div>
                            <div class="date-day">
                                <h2 class="date white">{{date}}</h2>
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="dotted">
                                <h1 class="red">{{title}}</h1>
                                <h3 class="black">posted by {{author}}</h3>
                            </div>
                            <div class="dashed">{{{content}}}</div>
                        </div>
                    </article>
                </div>
                {{/each}}
            </div>
        </section>
        <div class="pagination">
            <!-- to implement: http://esimakin.github.io/twbs-pagination/ and/or
            https://github.com/flaviusmatis/simplePagination.js -->
        </div>
    </main>


</div>`
